<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
   
    <link rel="stylesheet" href="materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="public/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="public/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="style.scss" type="text/scss" rel="stylesheet" media="screen,projection"/>
</head>
<body>
 
    
  <div class="row">
    <form class="col s12" action="/blogs" method="POST">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="Name">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">book</i>
          <input id="icon_telephone" type="text" class="validate" name="Topic">
          <label for="icon_telephone">Topic</label>
        </div>
        <div class="input-field col s4">
            <i class="material-icons prefix">font_download</i>
            <input id="icon_telephone" type="text" class="validate" name="WriteUp">
          <textarea name="Likes" id="" cols="30" rows="10" style="display: none;"></textarea>
            <label for="icon_telephone">Write Up!</label>
          </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
        
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="public/materialize.js"></script>
  <script src="public/init.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>